/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

body {
    background-color: white;
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

/* NAV-BAR */
.nav-bar {
    background-color: #540B51;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-bar img {
    height: 20px;
    padding: 10px;
}

#nav-left {
display: flex;
justify-content: flex-start;
flex-direction: row;
align-items: center;
}

#nav-left ul {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-around;
}

#nav-left ul li {
    margin: 10px;
}
#nav-left ul li a {
text-decoration: none;
color: white;
}

#nav-right button {
background-color: #540B51;
border: none;
}

/* HEADER */
header {
    background-color: #540B51;
    height: 300px;
    width: 100%;
    padding-top: 72px;
    display: flex;
    flex-direction: row;
}

header h1 {
    font-size: 25px;
    color: white;
}

#main-header {
    display: flex;
    flex-direction: column;
}

#img-header img {
    height: 150px;
}

.header-buttons button{
    height: 50px;
    width: 300px;
}

#google-button {
    background-color: #4285F4;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#google-button img {
    height: 30px;
    background-color: white;
    position: absolute;
    left: 5px;
}



/* caja empresas */
#companies {
    background-color: #F3EAE2;
    height: 200px;
    text-align: center;
}

#companies p {
    text-transform: uppercase;
    padding: 25px;
    margin-top: 0;
}

#companies-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#companies img {
    height: 40px;
    padding: 5px;
}